#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
}

#counter {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-weight: bold;
}

#count {
    margin-left: auto;
}

